{% extends 'base.html' %} {% block page_title %}{% endblock %} {% block content
%}
<h1>{{ month_name | title}} Challenges</h1>
{% if text is not None %}
<h3>{{ text }}</h3>
{% else %} There is no Challenges for {{ month_name | title}} {% endif %} {%
endblock %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ month_name | title}} Challenges</title>
  </head>
  <body></body>
</html>
